.comparedDataDialog_box{
    min-width:vw(300);
    // height: 100%;
    background: #eee;
    margin: 0 auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    // display: table;
    position: absolute;
    width: fit-content;
    top: vh(170);
    right: 0;
    // bottom: 0;
    left: 0;
    z-index: 1001;
    .dialog_header{
        display: flex;
        justify-content:space-between;
        height: vh(40);
        background-color: #004070;
        .dialog_header_title{
            margin-left: vw(20);
            line-height: vh(40);
            font-size: px2rem(14);
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #08C6F4;
            // letter-spacing: 100px;
            opacity: 1;
        }
        .dialog_header_img{
            margin-right: vw(20);
            width: px2rem(10);
            height: px2rem(10);
            margin-top: vh(15);
        }
    }
    .dialog_center{
        background-color: #0E1F48;
        // height: vh(637);
        width: 100%;
        overflow-y: auto;
        padding: vw(20);
    }
}