@import "../mixins/utils";
@import "../mixins/mixins";
.contentHeader_box{
  // margin: 0 vw(10);
  .contentHeader_img{
      display: flex;
    // width: vw(28);
    // height: vh(18);
    .contentHeaderSvga{
      width: vw(16);
      height: vh(16);
      margin-top: vh(2);
      margin-right: vw(2);
    }
    div{
      // width: 70px;
      height: 19px;
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      line-height: 19px;
      color: #FAFAFA;
      opacity: 0.85;
    }
  }
  .contentHeader_centens{
    .contentHeader_num{
      text-align: center;
      margin-top: vh(10);
      height: vh(24);
      font-size: px2rem(20);
      font-family: Design System A 500R;
      font-weight: 400;
      line-height: vh(24);
      color:#FCC83D;
      font-weight: normal;
      opacity: 1;
    }
  }
}