.drawer_box {
	.setbox{
		height: calc(100% - 4rem);
		position:fixed;
		z-index:1000;
		bottom:0px;
		width:vw(384);
		background: linear-gradient(270deg, #070F28 0%, #001541 100%);
		box-shadow:0px 3px 12px rgba(0,0,0,0.12);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		right:vw(-384);
		.cheimg{
			height: vh(134);
			width: vw(28);
			position: absolute;
			left: vw(-28);
			top: 50%;
			margin-top: vh(-67);
			cursor:pointer;
			img{
				height: vh(134);
				width: vw(28);
				display: block;
			}
		}
		.face_title_box{
			display: flex;
			justify-content: space-between;
			margin-left: vw(30);
			margin-top: vh(30);
			.face_title{
				display: flex;
				.titleBg{
					width: vw(64);
					height: vw(64);
					// background-image:url(~@/assets/index/dzcmc.png);
					// background-size: 100% 100%;
				  }
				  .title{
					margin-left: vw(16);
					line-height: vw(64);
					font-size: px2rem(16);
					font-family: Microsoft YaHei;
					font-weight: bold;
					color: #FFFFFF;
					opacity: 1;
				  }
			}
			.img{
				width: vw(12);
				height: vw(12);
				background-image:url(~@/assets/index/close.png);
				background-size: 100% 100%;
				margin-right: vw(20);
				margin-top: vw(6);
				cursor:pointer;
			}
		  }
		  .faceCenter{
			// width: vw(324);
			// height: 100%;
			position: relative;
			border: 1px solid #09315A;
			background: linear-gradient(270deg, rgba(3, 29, 35, 0.12) 0%, rgba(4, 99, 122, 0) 100%);
			margin-left: vw(30);
			margin-right: vw(30);
			margin-top: vh(20);
			display: flex;
			flex-flow: wrap;
			background-image:url(~@/assets/index/text_bg.png);
			background-size: 100% 100%;
		  }
	}
	.show {
		right: 0;
	}
}