.faceInformationDialog_box{
  width: vw(384);
  height: 100%;
  background: linear-gradient(270deg, #070F28 0%, #001541 100%);
  opacity: 1;
  position: absolute;
  right: 0;
  top: px2rem(-20);
  z-index: 999;
  .face_title_box{
    display: flex;
    margin-left: vw(30);
    margin-top: vh(30);
    .titleBg{
      width: vw(64);
      height: vw(64);
      // background-image:url(~@/assets/index/dzcmc.png);
      // background-size: 100% 100%;
    }
    .title{
      margin-left: vw(16);
      line-height: vw(64);
      font-size: px2rem(16);
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #FFFFFF;
      opacity: 1;
    }
  }
  .faceCenter{
    // width: vw(324);
    // height: 100%;
    position: relative;
    border: 1px solid #09315A;
    background: linear-gradient(270deg, rgba(3, 29, 35, 0.12) 0%, rgba(4, 99, 122, 0) 100%);
    margin-left: vw(30);
    margin-right: vw(30);
    margin-top: vh(20);
    display: flex;
    flex-flow: wrap;
    background-image:url(~@/assets/index/text_bg.png);
    background-size: 100% 100%;
  }
}