@import "../mixins/function.scss";
.home_check_box{
  .el-tree-node__content:hover{

      background-color: #011339 !important;
    
  }
  .el-tree{
    height: 100%;
    .el-tree-node{
      white-space: normal;
      text-align: left;
      word-break: break-all;
    }
    .el-tree-node__content{
      height: 100% !important;
    }
    background: #011339 !important;
    color: #ddd;
    overflow-x: hidden;
    .is-checked{
      color: #08C6F4;
    }
.el-tree-node.is-current>.el-tree-node__content{
  background-color: #011339;
}
  }
  .el-tree-node:focus>.el-tree-node__content {
      background-color:#011339 !important;
  }
.el-menu{
  border-right:none !important;
  span{
    font-size: px2rem(14);
  }
  .el-submenu__icon-arrow{
    left: px2rem(-80);   
}

  .second{
    margin-left: 0px;
  }
}

.el-checkbox__inner{
  background: #011339 ;
  border: 1px solid #aaa;
}
}

.amap-logo{
    display: none !important;//去掉高德地图logo
}
.amap-copyright {
    opacity:0 !important;//去掉高德的版本号
}

.home_map {
  position: relative;
  #mask{
    position: absolute;
    top: 0;
    height: 100%;
    width: px2rem(384);
    background-color: #011339;
    z-index: 1000;
    .cheimg{
      height:px2rem(134);
      width: px2rem(28);
      position: absolute;
      top: 42%;
      left: px2rem(-28);
      // background-color: blue;
      cursor: pointer;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .mask-title{
      height: px2rem(60);
      width: px2rem(324);
      margin: 0 auto;
      // background-color: red;
      .mask-img{
        float: left;
        height: 100%;
        width: px2rem(55); 
        // background-color: #08C6F4;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .mask-name{
        float: right;
        height: 100%;
        width: px2rem(250px);
        // background-color: aliceblue;
        font-size: px2rem(20);
        font-weight: bold;
        // line-height: px2rem(32);
        display: flex;
        align-items: center;
        // justify-content: center;
        // flex-direction: column-reverse;
        color: #fff;
        text-align: left;
        word-break: break-all;
        flex-wrap:wrap ;
      }
      .zkname{
          margin-top: px2rem(6);
          margin-bottom: px2rem(5);
          width: 100%;
        }
    }
    .conter{
      position: relative;
      width: px2rem(324);
      height: px2rem(345);
      background: url('~@/assets/img/text_bg.png');
      margin: 0 auto;
      margin-top: px2rem(25);
      padding: px2rem(10) px2rem(20);
      background-size: 100% 100%;
      .name{
      color: rgba(255,255,255,0.65) !important;
      font-size: px2rem(14);
      }
      .value{
      color: rgba(255,255,255,0.85) !important;
      font-size: px2rem(15);
      }
      li{
        float: left;
        width: 50%;
        height:px2rem(40);
        margin-top: px2rem(15);
        text-align: left;
        font-size: px2rem(14);
        line-height: px2rem(20);
        p{
          height: px2rem(20);
          width: 100%;
        }
      }
      li:nth-child(1){
        width: 100%;
        margin-top: px2rem(8);
      } 
      li:nth-child(2){
        width: 100%;
      } 
      li:nth-child(3){
        width: 100%;
      } 
      // li:nth-child(1){

      // } 
    }
    .conters{
      position: relative;
      width: px2rem(324);
      height: px2rem(400);
      background: url('~@/assets/img/text_bg.png');
      margin: 0 auto;
      margin-top: px2rem(25);
      padding: px2rem(10) px2rem(20);
      background-size: 100% 100%;
      .name{
      color: rgba(255,255,255,0.65) !important;
      font-size: px2rem(14);
      }
      .value{
      color: rgba(255,255,255,0.85) !important;
      font-size: px2rem(15);
      }
      li{
        float: left;
        width: 50%;
        height:px2rem(40);
        margin-top: px2rem(15);
        text-align: left;
        font-size: px2rem(14);
        line-height: px2rem(20);
        p{
          height: px2rem(20);
          width: 100%;
        }
      }
      li:nth-child(1){
        width: 100%;
        margin-top: px2rem(8);
      } 
      li:nth-child(2){
        width: 100%;
      } 
      li:nth-child(3){
        width: 100%;
      } 
      li:nth-child(4){
        width: 100%;
      } 
      // li:nth-child(1){

      // } 
    }
    .conterss{
      position: relative;
      width: px2rem(324);
      height: px2rem(390);
      background: url('~@/assets/img/text_bg.png');
      margin: 0 auto;
      margin-top: px2rem(5);
      padding: px2rem(10) px2rem(20);
      background-size: 100% 100%;
      .name{
      color: rgba(255,255,255,0.65) !important;
      font-size: px2rem(14);
      }
      .value{
      color: rgba(255,255,255,0.85) !important;
      font-size: px2rem(15);
      }
      li{
        float: left;
        width: 50%;
        height:px2rem(40);
        margin-top: px2rem(15);
        text-align: left;
        font-size: px2rem(14);
        line-height: px2rem(20);
        p{
          height: px2rem(20);
          width: 100%;
        }
      }
      li:nth-child(1){
        width: 100%;
        margin-top: px2rem(8);
      } 
      li:nth-child(8){
        width: 100%;
        margin-top: px2rem(8);
      } 
      li:nth-child(9){
        width: 100%;
        margin-top: px2rem(8);
      } 
      // li:nth-child(1){

      // } 
    }
    .sensorname{
      text-align: left;
      padding: px2rem(15) px2rem(30);
      margin-top: px2rem(5);
      color: #08C6F4
    }
    .sensorconter{
      position: relative;
      width: px2rem(324);
      height: px2rem(80);
      background: url('~@/assets/img/text_bg.png');
      margin: 0 auto;
      padding: px2rem(10) ;
      background-size: 100% 100%;
      .name{
      color: rgba(255,255,255,0.65) !important;
      font-size: px2rem(14);
      }
      .value{
      color: rgba(255,255,255,0.85) !important;
      line-height: px2rem(25);
      font-size: px2rem(15);
      }
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li{
        // float: left;
        width: 27%;
        height:px2rem(60);
        text-align: center;
        font-size: px2rem(14);
        // line-height: px2rem(20);
        // background-color: red;
        // margin-left: 3%;
        padding: px2rem(10) 0;
        p{
          height: px2rem(20);
          width: 100%;
          line-height: px2rem(10);
        }
      }
      li:nth-child(2){
        margin-left: 2%;
        margin-right: 6%;
      }
    }
    .cameraconter{
      height: px2rem(230);
      width: px2rem(324);
      margin: 0 auto;
      background: url('~@/assets/img/text_bg.png');
      background-size: 100% 100%;
      .notdata{
        height: 100%;
        width: 100%;
        padding-top:px2rem(70) ;
        p{
          color: rgba(255,255,255,0.45);
          margin-top: px2rem(10);
        }
      }
    }
    .sensorlast{
      position: relative;
      width: px2rem(324);
      height: px2rem(200);
      background: url('~@/assets/img/text_bg.png');
      margin: 0 auto;
      padding: px2rem(10) px2rem(20) ;
      background-size: 100% 100%;
      text-align: left;
      li{
        height: px2rem(50);
        // background-color: red;
        margin-bottom: px2rem(15);
        p{
          line-height: px2rem(25);
          height: px2rem(25);
        }
      .name{
      color: rgba(255,255,255,0.65) !important;
      font-size: px2rem(14);
      }
      .value{
      color: rgba(255,255,255,0.85) !important;
      line-height: px2rem(25);
      font-size: px2rem(15);
      }
      }
    }
    .view{
      width: px2rem(324);
      margin: 0 auto;
      height: px2rem(350);
      // background-color: red;
      margin-top: px2rem(17);
      overflow: hidden;
      // overflow: scroll;
      // overflow-x: hidden;
      li{
        width: px2rem(80);
        height:px2rem(28);
        background-size: 100% 100%;
        font-size: px2rem(14);
        line-height: px2rem(28);
        text-align: center;
        float: left;
        cursor: pointer;
        font-size: px2rem(14);
        line-height: px2rem(28);
      }
      .li{
        background-image:url(~@/assets/index/btn_n.png);
        color: rgba(6, 243, 252, 0.71);
      }
      .notli{
        background-image:url(~@/assets/index/btn_s.png);
        color: #FCC83D;
      }
      .li-views{
      height: px2rem(310);
      width: px2rem(324);
      margin: 0 auto;
      // background: violet;
      margin-top: px2rem(40);
      position: relative;
      li{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        // background-color: ye llow;
        div{
          // display: flex;
            height: px2rem(152px);
            width: px2rem(152px);
            float: left;
            margin-bottom: px2rem(10);
          // justify-content: center;
          // align-items: center;
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            // margin-left: px2rem(20);
          }
        }
        .imgbox:nth-child(2n){
            margin-left:px2rem(20)
          }
      }
      }
    }
  }
}
.mask{
  right: px2rem(-20);
}
.mask-active{
  right: px2rem(-404);
}
.map{
.ol-selectable{
      // transform: translate(-50%, calc(-100% - 12px));
      top: -118px !important; left: -290px !important;
}
}

.maps{
  .ol-selectable{
      // transform: translate(-50%, calc(-100% - 12px));
      top: -18px !important; left: -8px !important;
}
}
.zkname{
height: px2rem(19);
font-size: px2rem(14);
font-weight: 400;
line-height: px2rem(20);
color: rgba(255, 255, 255, 0.65);
}
.tp-dialog{
  overflow: scroll;
}
.el-checkbox__inner::after{
    // content: "+";
    // colorck;: bla
    border: 1px solid black;
    border-left: 0;
    border-top: 0;
}
.el-checkbox__inner::before{
  background-color: #08C6F4 !important;
  height: 10px !important;
  width: 10px !important;
  transform:scale(0.9) !important;
  top: 1px !important;
  left: 1px !important;
}
 .is-checked >.el-checkbox__inner{
   background-color: #08C6F4 !important;
   border-color: #08C6F4 !important;
 }
 .is-indeterminate>.el-checkbox__inner{
   background-color: #011339 !important;
   border-color: #324063 !important;
 }
 .el-checkbox__inner{
    border-color: #324063 !important;
 }
 .tree-node{
   color: rgba(255,255,255,0.65);
 }
  .is-checked + .fix>.tree-node{
    color: #08C6F4 !important;
 }
 .is-indeterminate +.fix>.tree-node{
    color: #08C6F4 !important;
 }