@import "../mixins/utils";
@import "../mixins/mixins";
.home_header{
  height: px2rem(64px);
  line-height: 64px;
  width: 100%;
  opacity: 1;
  background-color: #0A0D20;
  .home_header_bg{
    position: relative;
    // background-image:url(~@/assets/index/head_bg.png);
    // background-size: 100% 100%;
    background-repeat:no-repeat;
    display: flex;
    justify-content:space-between;
    height: px2rem(90px);
    z-index: 999;
    #homeHeaderBg{
      height: px2rem(115);
      position: relative;
      z-index: -1;
    }
    .headerr_a_list{
      margin-left: px2rem(40px);
      display: flex;
      z-index: 89;
      height: px2rem(64px);
      position: absolute;
      .header_a_item{
        display: block;
        width: px2rem(120px);
        height: px2rem(32px);
        background-image:url(~@/assets/index/btn_n.png);
        background-size: 100% 100%;
        font-size: 14px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        line-height: 19px;
        color: #FFFFFF;
        opacity: 1;
        margin-top: px2rem(25px);
        line-height: px2rem(32px);
        cursor:pointer
      }
      .header_active{
        background-image:url(~@/assets/index/btn_s.png);
      }
    }
    .headerr_a_title{
      margin-top: px2rem(14px);
      // height: 37px;
      height: px2rem(37px);
      font-size: 28px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      line-height: 20px;
      color: #FFFFFF;
      opacity: 1;
      position: absolute;
      width: 100%;
    }
    .headerr_user_box{
      margin-right: px2rem(20px);
      display: flex;
      // position: relative;
      position: absolute;
      right: 0;

      .header_time{
        display: flex;
        font-size: 14px;
        line-height: 18px;
        font-family: Microsoft YaHei UI;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.65);
        opacity: 1;
        margin-top: px2rem(29px);
        .header_time_date{
          margin-right: px2rem(16px);
        }
        .header_time_week{
          margin-right: px2rem(47px);
        }
      }
      .header_user{
        z-index: 89;
        display: flex;
        font-size: 14px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.85);
        opacity: 1;
        height: px2rem(64px);
        cursor:pointer;
        .header_user_img{
          width: px2rem(32px);
          height: px2rem(32px);
          display: block;
          margin-top: px2rem(24px);
          margin-right: px2rem(10px);
        }
        .header_user_name{
          margin-top: px2rem(30px);
          margin-right: px2rem(10px);
        }
        .header_user_code{
          margin-top: px2rem(30px);
          margin-right: px2rem(7px);
        }
        .header_user_down{
          margin-top: px2rem(28px);
          // width: px2rem(24px);
          // height: px2rem(24px);
          width: 24px;
          height: 24px;
          background-image:url(~@/assets/index/fold.png);
          background-size: 100% 100%;
        }
        .header_user_up{
          background-image:url(~@/assets/index/unfold.png);
        }
      }
      .header_user_logout{
        cursor:pointer;
        position: absolute;
        // bottom: px2rem(-20px);
        top: px2rem(75px);
        right: px2rem(0);
        display: flex;
        height: px2rem(40px);
        background: rgba(1, 20, 55, 0.83);
        box-shadow: 0px 2px 6px rgba(8, 198, 244, 0.47);
        opacity: 1;
        border-radius: 4px;
        .logout_img{
          width: px2rem(16px);
          height: px2rem(16px);
          display: block;
          margin-top: px2rem(12px);
          margin-left: px2rem(10px);
        }
        .logout_word{
          margin-left: px2rem(10px);
          margin-right: px2rem(28px);
          height: px2rem(19px);
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          line-height: px2rem(40px);
          color: #EAFBFF;
          opacity: 0.65;
        }
      }
    }
  }
}
.tabss{
  position: relative;
  z-index: 1000;
}