@import "../mixins/mixins";
.hk-icon-edit{
  width: px2rem(18);
  height: px2rem(18);
  display: block;
  background: url('~@/assets/icons/edit.png') no-repeat;
  background-size: 100% 100%;
}
.hk-icon-delete{
  width: px2rem(18);
  height: px2rem(18);
  display: block;
  background: url('~@/assets/icons/delete.png') no-repeat;
  background-size: 100% 100%;
}
.hk-icon-preview{
  width: px2rem(18);
  height: px2rem(18);
  display: block;
  background: url('~@/assets/icons/preview.png') no-repeat;
  background-size: 100% 100%;
}
.hk-icon-disable{
  width: px2rem(18);
  height: px2rem(18);
  display: block;
  background: url('~@/assets/icons/disable.png') no-repeat;
  background-size: 100% 100%;
}
.hk-icon-enable{
  width: px2rem(18);
  height: px2rem(18);
  display: block;
  background: url('~@/assets/icons/enable.png') no-repeat;
  background-size: 100% 100%;
}
.hk-icon-position{
  width: px2rem(18);
  height: px2rem(18);
  display: block;
  background: url('~@/assets/icons/position.png') no-repeat;
  background-size: 100% 100%;
}
.hk-icon-temperature{
  // margin-top: px2rem(4);
  // padding: px2rem(4);
  position: relative;
  top: px2rem(2);
  width: px2rem(16);
  height: px2rem(16);
  display: inline-block;
  margin-right: px2rem(5);
  background: url('~@/assets/icons/qw.png') no-repeat;
  background-size: 100% 100%;
}
.hk-icon-humidity{
  position: relative;
  top: px2rem(2);
  width: px2rem(16);
  height: px2rem(16);
  display: inline-block;
  margin-right: px2rem(5);
  background: url('~@/assets/icons/sd.png') no-repeat;
  background-size: 100% 100%;
}
.hk-icon-precipitation{
  position: relative;
  top: px2rem(2);
  width: px2rem(16);
  height: px2rem(16);
  display: inline-block;
  margin-right: px2rem(5);
  background: url('~@/assets/icons/js.png') no-repeat;
  background-size: 100% 100%;
}