.itemBut_box{
    padding-top: vh(20);
    margin-left: vw(75);
    width: vw(106);
    .itemBut{
        // width: 106px;
        height: vh(40);
        background-size: 100% 100%;
        margin-top: vh(20);
        cursor:pointer;
        .itemBut_name{
            font-size: px2rem(14px);
            font-family: Microsoft YaHei;
            font-weight: 400;
            line-height: vh(40);
            color: #1FCBF8;
            opacity: 1;
            margin-left: vw(40);
            margin-right: vw(10);
        }
        .itemBut_action{
            font-size: px2rem(14px);
            font-family: Microsoft YaHei;
            font-weight: 400;
            line-height: vh(40);
            color: #FCC83D; 
            opacity: 1;
            margin-left: vw(40);
            margin-right: vw(10);
        }
    }
}