@import "../mixins/utils";
@import "../mixins/mixins";
.landscapeItem_box{
    margin-left: vw(10);
    display: flex;
    width: vw(170);
    padding-bottom: vh(5.5);
    .landscapeItem_box_img{
      width: vw(56);
      height: vh(56);
      img{
        display: block;
        width: px2rem(56);
        height: px2rem(56);
      }
    }
    .landscapeItem_box_centens{
      margin-left: vw(10);
      .landscapeItem_box_title{
        margin-top: vh(5);
        font-size: px2rem(14);
        font-family: Microsoft YaHei;
        font-weight: 400;
        // line-height: 19px;
        color: rgba(255, 255, 255, 0.85);
        opacity: 0.65;
      }
      .landscapeItem_num_box{
        display: flex;
        margin-top:vh(4);
        .landscapeItem_box_num_{
            margin-right: vw(2);
            height: vh(22);
            font-size: px2rem(18);
            font-family: Design System A 500R;
            font-weight: 400;
            line-height: vh(22);
            color: #FFFFFF;
            opacity: 0.85;
        }
        .landscapeItem_box_num{
            height: vh(19);
            font-size: px2rem(14);
            font-family: Microsoft YaHei;
            font-weight: 400;
            line-height: vh(19);
            color: rgba(255, 255, 255, 0.85);
            opacity: 0.85;
          }
      }
    }
  }