@import "../mixins/utils";
@import "../mixins/mixins";
.showoff_box{
  margin: 0 vw(10);
  margin-top: vh(10);
  // width: 390px;
  // height: 658px;
  border: 1px solid #09315A;
  background: linear-gradient(90deg, rgba(8, 198, 244, 0.12) 0%, rgba(4, 99, 122, 0) 100%);
  opacity: 1;
  .showoff_box_title{
    margin: 0 vw(10);
    margin-top: vh(10);
    // width: 300px;
    text-align: left;
    // height: 19px;
    font-size: px2rem(14);
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: vh(19);
    color: #FFFFFF;
    opacity: 0.85;
  }
  .showoff_box_centent{
    margin: 0 vw(10);
    margin-top: vw(20);
    padding-bottom: vh(10);
    display: flex;
    .showoff_centent_item{
      margin-right: vw(111);
      .showoff_item_num{
        text-align: center;
        width: 80px;
        height: vh(19);
        font-size: px2rem(16);
        font-family: Design System A 500R;
        font-weight: 400;
        line-height: vh(19);
        color: #06F3FC;
        opacity: 1;
      }
      .showoff_item_name{
        margin-top: vh(4);
        text-align: left;
        width: 80px;
        height: vh(19);
        font-size: px2rem(14);
        font-family: Microsoft YaHei;
        font-weight: 400;
        line-height: vh(19);
        color:rgba(255,255,255,0.65);
        opacity: 1;
      }
    }
  }
}