.mailTable{
    .mailTable_box{
        border: 1px solid #324063;
        display: flex;
        .mailTable_box_list{
            display: flex;
            line-height: vh(38);
            .item{
                width: vw(190);
                border-right: 1px solid #324063;
                font-size: px2rem(14);
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #EAFBFF;
                opacity: 0.85;
                text-align: left;
                padding: 0 vw(10);
            }
            .item:first-child{
                background-color: #324063;
                width: vw(110);
            }
        }
    }
}
