.water_resources_box{
    padding-top: vh(55);
    position: absolute;
    z-index: 999;
}
.pick_point_box{
    // display:flex;
    // flex-wrap: wrap;
    position: absolute;
    right: vw(50);
    top: vh(100);
    width: vw(368);
    z-index: 1000;
    background: rgba(2, 42, 82, 0.6);
    border: 1px solid rgba(8, 198, 244, 0.34901960784313724);
    .pick_point_center{
        margin: vw(16);
    }
}
.startBut{
    width: vw(76);
    height: vh(32);
    border: 1px solid #08C6F4;
    opacity: 1;
    border-radius: 2px;
    font-size: px2rem(14);
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #02133B;
    opacity: 1;
    margin-top: vh(20);
    margin-right: vw(10);
    background-color: rgba(8,198,244, 0.65);
}
.brightBut{
    background: #08C6F4;
}
.endBut{
    width: vw(76);
    height: vh(32);
    border: 1px solid #08C6F4;
    opacity: 1;
    border-radius: 2px;
    background-color:transparent;
    font-size: px2rem(14);
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #08C6F4;
    margin-top: vh(20);
}
.faceListItem_{
    margin-top: vh(20);
    display: flex;
    flex-flow: wrap;
}
.drilling_box{
    display: flex;
    height: calc(100% - 2.6rem);
    margin: px2rem(20);
    justify-content: space-between;
    .drilling_one{
        width: 15%;
        .drilling_title{
            font-size: px2rem(14);
            font-family: Microsoft YaHei;
            font-weight: bold;
            line-height: vh(20);
            color: #FFFFFF;
            opacity: 1;
            text-align: left;
        }
        .drilling_c{
            border: 1px solid #324063;
            background: #102352;
            height: calc(100% - 2.77778vh);
            margin-top: vh(10);
            margin-bottom: vh(20);
            .drilling_c_center_box{
                display: flex;
                justify-content: space-between;
                .drilll_center_name{
                    font-size: px2rem(14);
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    line-height: vh(24);
                    color: #FFFFFF;
                    opacity: 0.65;
                    margin-top: vh(10);
                    margin-left: vw(10);
                    text-align: left;
                }
                .drilll_center_value{
                    width: vw(90);
                    font-size: px2rem(14);
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    line-height: vh(24);
                    color: #FFFFFF;
                    opacity: 1;
                    margin-top: vh(10);
                    margin-right: vw(10);
                    text-align: left;
                    word-wrap: break-word;
                    word-break: break-all;
                    overflow: hidden;
                }
            }
        }
    }
    .drilling_two{
        width: 84%;
        .drilling_title{
            font-size: px2rem(14);
            font-family: Microsoft YaHei;
            font-weight: bold;
            line-height: vh(20);
            color: #FFFFFF;
            opacity: 1;
            text-align: left;
        }
        .drilling_c{
            display: flex;
            border: 1px solid #324063;
            background: #102352;
            height: calc(100% - 2.77778vh);
            margin-top: vh(10);
            margin-bottom: vh(20);
            .drill_left{
                width: 82%;
            }
            .drill_right{
                width: calc(18% - 1px);
                border-left: 1px solid #324063;
                .drill_right_header{
                    // width: 242px;
                    margin: px2rem(10) px2rem(10) 0 px2rem(10);
                    height: vh(32);
                    background: #324063;
                    .header_title{
                        font-size: px2rem(14);
                        font-family: Microsoft YaHei;
                        font-weight: 400;
                        line-height: vh(32);
                        color: #FFFFFF;
                        text-align: left;
                        margin-left: vw(9);
                    }
                }
                .drill_right_center{
                    margin: 0 px2rem(10) px2rem(10) px2rem(10);
                    .drilling_c_center_box{
                        display: flex;
                        justify-content: space-between;
                        .drilll_center_name{
                            font-size: px2rem(14);
                            font-family: Microsoft YaHei;
                            font-weight: 400;
                            line-height: vh(24);
                            color: #FFFFFF;
                            opacity: 0.65;
                            margin-top: vh(10);
                            margin-left: vw(10);
                            text-align: left;
                        }
                        .drilll_center_value{
                            min-width: vw(90);
                            font-size: px2rem(14);
                            font-family: Microsoft YaHei;
                            font-weight: 400;
                            line-height: vh(24);
                            color: #FFFFFF;
                            opacity: 1;
                            margin-top: vh(10);
                            margin-right: vw(10);
                            text-align: left;
                        }
                    }
                }
            }
        }
        // border: 1px solid #324063;
        // background: #102352;
    }
}
