@import '../mixins/mixins.scss';
[class^="co-icon-"], [class*=" co-icon"] {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
[class^="co-icon-"]::after, [class*=" co-icon"]::after {
  content: "";
  display: block;
  width: px2rem(16);
  height: px2rem(16);
  background-size: cover;
} 
.co-icon-map{
    background-size: contain;
    background-repeat: no-repeat;
    // width: 20px;
    float: left;
    height: 16px;
    background-size: 100%;
    margin-right: 2px;
    margin-top: 4px;
}

// .co-icon-map::after{
//     // background: url('~@/assets/icons/waiting.png') center no-repeat;
//     // background-size: cover;
//     // height: px2rem(16);
//     width: 20px;
// }
.fix{
  // display:  flex;
  // justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  width: 100%;
}