@import "./mixins/config";
@import "./mixins/mixins";
html {
  @media only screen and (max-width: 1920px) {
    font-size: $rem-base-size-1920;
  }

  @media only screen and (max-width: 1680px) {
    font-size: $rem-base-size-1920 * 0.875;
  }

  @media only screen and (max-width: 1440px) {
    font-size: $rem-base-size-1920 * 0.75;
  }
}

body, html, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Microsoft YaHei, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  //min-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}
a{
  text-decoration:none;
  color:#fff; 
}
.echarts {
  width: 100% !important;
  height: 100% !important;
}

textarea {
  resize: none !important;
}
*:focus{
  outline: none !important;
}
// div:focus{
//   outline: none !important;
// }
/*修改滚动条样式*/
div::-webkit-scrollbar{
  width:5px;
  height:10px;
  /**/
}
div::-webkit-scrollbar-track{
  background:#bbb;
  border-radius:2px;
}
div::-webkit-scrollbar-thumb{
  background: #05496C;
  border-radius:10px;
}
div::-webkit-scrollbar-thumb:hover{
  background: #05496C;                                                                          
}
div::-webkit-scrollbar-corner{
  background: #179a16;
}
   .editusername{
    input{
      border: none !important;
      background-color: #0E1F48 !important;
    }
   }                  
   .today   span{
     display: block;
     border-radius: 55px;
     border: 1px solid #409eff;
     box-sizing: border-box;
     line-height: 22px !important;
   }   
   .el-slider{
    //  display: block;
     margin-left: px2rem(8);
     margin-top: px2rem(-10);
     width: 60%;
   }