@import "../mixins/utils";
@import "../mixins/mixins";
.element::-webkit-scrollbar { width: 0 !important }
.element { -ms-overflow-style: none; }
.element { -ms-overflow-style: none; }
.home{
  height: 100%;
  .home_content{
    height: calc(100% - 3.2rem);
    width: 100%;
    background-color: #011339;
    display: flex;
    .home_check_box{
      width: px2rem(330px);
      padding: px2rem(56px) px2rem(0px) px2rem(20px) px2rem(20px);
      height: 100%;
      background: #011339;
      overflow-y: auto;
      .home_check_list{
        // background-color: #cdcdcd;
        height: 100%;
      }
    }
    .decisionMaking_aside{
      width: px2rem(205);
      padding-top: px2rem(56);
      // padding-right: px2rem(5);
      padding-left: px2rem(20);
    }
    .home_map_box{
      padding: px2rem(56px) px2rem(20px) px2rem(20px) px2rem(0px);
      width: 100%;
      background-color: #011339;
      .home_map{
        background-color: black;
        height: 100%;
      }
    }
    .home_map_box_c{
      padding: px2rem(42px) px2rem(0) px2rem(0) px2rem(0);
      width: 100%;
      background-color: #011339;
      .home_map_bg{
        height: calc(100% - 0.625rem);
        background: url('~@/assets/index/map_border.png');
        background-size: 100% 100%;
      }
    }
  }
}
.lefttop{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: px2rem(45);
  width: px2rem(45);
  background: url('~@/assets/img/lefttop.png');
  // background-color: red;
  background-size: 100% 100%;
}
.righttop{
  position: absolute;
  top: 0;
  z-index: 1000;
  right: 0;
  height: px2rem(45);
  width: px2rem(45);
  // background-color: red;
  background: url('~@/assets/img/righttop.png');
  background-size: 100% 100%;
}
.rightbottom{
  height: px2rem(45);
  width: px2rem(45);
  position: absolute;
  bottom: 0;
  right: 0;
  // background-color: red;
  background: url('~@/assets/img/rightbottom.png');
  background-size: 100% 100%;

}
.leftbottom{
  height: px2rem(45);
  width: px2rem(45);
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('~@/assets/img/leftbottom.png');
  background-size: 100% 100%;
}
#lineChart{
  width: vw(635);
  height: vh(270);
}
.echartsBar{
  width: vw(635);
  height: vh(290);
}
